.login {
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5.25rem;
}


.login>img {
    object-fit: contain;
    height: 5rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}


.login>form {
    display: flex;
    flex-direction: column;

}

.login>form>input {
    width: 20rem;
    height: 3rem;
    font-size: 1.25rem;
    padding-left: 0.625rem;
    margin-bottom: 0.625rem;
    border-radius: 0.3rem;
}

.login>form>button {
    width: 21rem;
    height: 3rem;
    font-size: large;
    color: #fff;
    background-color: #0074b1;
    border-radius: 0.3rem;
    border: none;
}

.login_register {
    color:#0177b7;
 cursor: pointer; 
}

.login > p{
    margin-top: 1.25rem;
}

